<div class="contenedorPrincipal">
    <h1>Información de la Clínica</h1>

    <div class="row">
        <div class="cartel">
            <div class="info-box ">
            <h2>Cantidad de Consultorios</h2>
            <p><span class="highlight">6</span> consultorios en la actualidad</p>
            </div>
        </div>
    
        <div class="cartel">
            <div class="info-box">
            <h2>Cantidad de Laboratorios</h2>
            <p><span class="highlight">2</span> laboratorios físicos</p>
            </div>
        </div>
    </div>
    
        <div class="row">
            <div class="cartel">
                <div class="info-box">
                <h2>Sala de Espera General</h2>
                <p>La clínica cuenta con una sala de espera general.</p>
                </div>
            </div>
        
            <div class="cartel">
                <div class="info-box">
                <h2>Horarios de Atención</h2>
                <p>Abierto al público de lunes a viernes de <span class="highlight">8:00 a 19:00</span>, y los sábados de <span class="highlight">8:00 a 14:00</span>.</p>
                </div>
            </div>
        </div>
    </div>


