.container {
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh; /* Cambiado a min-height para asegurar que ocupe al menos la altura de la ventana */
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.row1 {
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/img/fondo-hospital.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.row{
    width: 100%;
    height: 100%;
}

.turnosEspecialidad {
    margin-top: 2%;
    width: 25%; 
    min-height: 90%; 
    max-height: 90%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    object-fit: contain;
    margin-left: 2%;
    margin-right: 2%;
}

.turnosDiasSemana{
    margin-top: 2%;
    width: 25%; 
    min-height: 90%; 
    max-height: 90%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    object-fit: contain;
    margin-left: 2%;
    margin-right: 2%;
}

.turnosSolicitadoEspecialistas{
    margin-top: 2%;
    width: 25%; 
    min-height: 90%;  
    max-height: 90%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    object-fit: contain;
    margin-left: 2%;
    margin-right: 2%;
}

.turnosFinalizadosPorEspecialista{
    margin-top: 2%;
    width: 25%; 
    height: 50%;
    min-height: 50%; 
    max-height: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    object-fit: contain;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.logsSistema{      
    margin-top: 2%;
    width: auto; 
    min-height: 90%; 
    max-height: 90%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    object-fit: contain;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

app-grafico-torta {
    width: 100%;
    height: 100%;
}

.button-container {
    display: flex;
    gap: 10px; 
}

button {
    margin-top: 5%;
    width: auto;
    margin-bottom: 10%;
}

h1{
    font-size: x-large;
}

h2{
    font-size: large;
}

img{
    width: 5vw;
    height: 5vw;
    object-fit: contain;
}
