<div class="container">
    <div class="row1">
        <div class="row">
            <div class="turnosEspecialidad">
                <h1>{{fechaActual | fechaPipeFormat}}</h1>
                <img src="../../../favicon.ico" alt="">
                <h2>Cantidad de turnos dados por especialidad</h2>
                <app-grafico-torta [turnosPorEspecialidad]="cantidadTurnosPorEspecialidad"></app-grafico-torta>
                <div class="button-container">
                    <button class="btn btn-primary" (click)="descargarExcel(cantidadTurnosPorEspecialidad, 'turnos-por-especialidad')">Descargar Excel</button>
                    <button class="btn btn-success">Descargar PDF</button>
                </div>
            </div>
    
            <div class="turnosDiasSemana">
                <h1>{{fechaActual | fechaPipeFormat}}</h1>
                <img src="../../../favicon.ico" alt="">
                <h2>Cantidad de turnos por dia de la semana</h2>
                <app-grafico-barras [turnosPorDiaDeLaSemana]="cantidadTurnosPorDia"></app-grafico-barras>
                <div class="button-container">
                    <button class="btn btn-primary" (click)="descargarExcel(cantidadTurnosPorDia, 'turnos-por-dia')">Descargar Excel</button>
                    <button class="btn btn-success">Descargar PDF</button>
                </div>
            </div>
    
            <div class="turnosSolicitadoEspecialistas">
                <h1>{{fechaActual | fechaPipeFormat}}</h1>
                <img src="../../../favicon.ico" alt="">
                <h2>Turnos solicitados en los próximos 10 días</h2>
                <app-grafico-turnos-solicitados-por-medico [turnosPorEspecialistaLapsoDeTiempo]="cantidadTurnosSolicitadosPorMedico"></app-grafico-turnos-solicitados-por-medico>
                <div class="button-container">
                    <button class="btn btn-primary" (click)="descargarExcel(cantidadTurnosSolicitadosPorMedico, 'turnos-solicitados-por-especialista')">Descargar Excel</button>
                    <button class="btn btn-success">Descargar PDF</button>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="turnosFinalizadosPorEspecialista">
                <h1>{{fechaActual | fechaPipeFormat}}</h1>
                <img src="../../../favicon.ico" alt="">
                <h2>Turnos finalizados en los últimos 10 días</h2>
                <app-grafico-turnos-finalizados [turnosFinalizadosEspecialistas]="cantidadTurnosFinalizadosPorMedico"></app-grafico-turnos-finalizados>
                <div class="button-container">
                    <button class="btn btn-primary" (click)="descargarExcel(cantidadTurnosFinalizadosPorMedico, 'turnos-finalizados-por-especialista')">Descargar Excel</button>
                    <button class="btn btn-success">Descargar PDF</button>
                </div>
            </div>

        </div>


    </div>
</div>
