<div class="h-80 d-flex justify-content-center align-items-center text-white rounded-3">
    <div class="text-center">
      <div class="table-responsive">
        <table *ngIf="misTurnosEspecialista.length != 0" class="table table-bordered table-hover table-dark align-middle">
          <thead>
            <tr>
              <td>Especialidad</td>
              <td>Paciente</td>
              <td>Fecha y hora</td>
              <td>Estado del Turno</td>
              <td colspan="4">Acciones</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let turno of misTurnosEspecialista">
              <td class="table-dark">{{ turno.especialidad }}</td>
              <td class="table-dark">{{ turno.paciente }}</td>
              <td class="table-dark">{{ turno.diaDelTurno }}hs</td>
              <td class="table-dark">{{ turno.estado }}</td>
              <td class="table-dark" colspan="4">
                <div class="d-flex flex-column">
                <button appCambiarEstiloBoton *ngIf="turno.estado == 'pendiente'" class="btn btn-success mb-1" (click)="aceptarTurno(turno)">Aceptar Turno</button>
                <button appCambiarEstiloBoton *ngIf="turno.estado == 'pendiente'" class="btn btn-danger mb-1" (click)="rechazarTurno(turno)">Rechazar Turno</button>
                <button appCambiarEstiloBoton *ngIf="turno.estado == 'aceptado'" class="btn btn-primary mb-1" (click)="finalizarTurno(turno)">Finalizar Turno</button>
                <button appCambiarEstiloBoton *ngIf="turno.estado == 'finalizado'" class="btn btn-primary mb-1" (click)="verHistoriaClinica(turno.mailPaciente)">Ver Historia Clínica</button>
                <button appCambiarEstiloBoton *ngIf="turno.calificacionAtencion != ''" class="btn btn-info mb-1" (click)="verResenia(turno.calificacionAtencion)">Ver Reseña</button>
                <button appCambiarEstiloBoton *ngIf="turno.comentarioCancelacion != ''" class="btn btn-info mb-1" (click)="verResenia(turno.comentarioCancelacion)">Ver Comentario</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  