<div class="container">
  <div class="contenedorImagenes">
    <img *ngFor="let imagen of imagenes" [src]="imagen" alt="Imagen del usuario" class="imagen">
  </div>
    <div class="informacion">
      <h2>{{ nombre }} {{ apellido }}</h2>
      <p>{{edad}} años</p>
      <p>Dni: {{dni}}</p>
      <p>{{ email }}</p>
      <p *ngIf="obraSocial != ''">Obra Social: {{obraSocial}}</p>
      <br>
      <p *ngIf="obraSocial != ''">Historia Clínica</p>
      <p *ngIf="obraSocial != ''">Altura: {{historiaClinica.altura}}cm</p>
      <p *ngIf="obraSocial != ''">Peso: {{historiaClinica.peso}}kg</p>
      <p *ngIf="obraSocial != ''">Presion: {{historiaClinica.presion}}mmHg</p>
      <p *ngIf="obraSocial != ''">Temperatura: {{ historiaClinica.temperatura }}°C</p>
    </div>
</div>
  