<div class="container">
  <div class="contenedorImagenes">
    <img *ngFor="let imagen of imagenes" [src]="imagen" alt="Imagen del usuario" class="imagen">
  </div>
    <div class="informacion">
      <h2>{{ nombre }} {{ apellido }}</h2>
      <p>{{edad}} años</p>
      <p>Dni: {{dni}}</p>
      <p>{{ email }}</p>
      <p *ngIf="obraSocial != ''">Obra Social: {{obraSocial}}</p>
      <p *ngIf="obraSocial != ''"><button (click)="verHistoriaClinica(email)" class="btn btn-primary">Ver mi historia clínica</button></p>
      <p *ngIf="obraSocial != ''"><button (click)="descargarHistoriaClinica(email)" class="btn btn-success">Descargar PDF</button></p>
      <br>
    </div>
</div>
  