@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Sora&display=swap');

.contenedorPrincipal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
}

form{
    margin-bottom: 20px;
}

h1{
    font-family: 'Nunito', sans-serif;
    font-size: xx-large;
    margin-top: 10px;
}

input{
    font-family: 'Nunito', sans-serif;
    font-size: xx-large;
    width: 80%;
    margin-bottom: 10px;
}

img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.captchaGenerado {
    font-size: 24px; /* Ajusta el tamaño de la fuente según sea necesario */
    width: 100%; /* Ajusta el ancho según sea necesario */
    margin-top: 15px;
    border: 3px solid black;
  }
#captchaTxtArea {
    background: url("../../../assets/img/cap.jpg");
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    border: 3px solid black;
    width: 100%; /* Ajusta el ancho según sea necesario */
    margin-top: 15px;
    text-align: center;
  }
  
  #CaptchaEnter {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 40px;
    border: 3px solid black;
  }
  
  #CaptchaEnter::placeholder {
    color: black;
    font-size: 24px;
    text-align: center;
  }