@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Sora&display=swap');


.contenedorMayor{
    width: 100vw;
    height: 93vh;
    background-size: 100% 100%;
    background-image: url("../../../assets/img/pasillo-hospital.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

button {
    margin-top: 3%;
    width: 80%; /* Reduje el ancho para dar espacio a los márgenes y centrar el contenido */
    margin: 0 auto; /* Agregué esta línea para centrar horizontalmente el botón dentro de su contenedor */
    position: relative;
}

.row1 {
    width: 100%;
    height: 100%;
}

.row2 {
    width: 100%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowRegistro{
    width: 95%;
    height: auto;
}

.cartaAlta {
    width: 55%;
    height: 45%;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 50%;
    box-shadow: 15px 15px 15px darkblue;
    transition: 0.9s;
}

.cartaAlta:hover{
    box-shadow: 15px 15px 15px darkgreen;
}

img{
    width: 30%;
    height: auto;
}

h1, h2, h3 {
    color:white;
}

h1{
    padding-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-size:xx-large;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-size:xx-large;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-size:large;
    background-color: darkblue;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
